@use "./../assets/styles/var.scss";

header{
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    user-select: none;
    background: linear-gradient(
        to right,
        #6188ff,
        #6188ff 70%,
        #71a4f3 71%,
        #71a4f3 97%,
        #8ec0f0 100%,
    );
    a{
        color: var.$texto-blanco;
        text-decoration: none;
        background-color: #4379cf;
        height: 50px;
        line-height: 50px;
        padding: 0 30px;
        border-radius: 50px;
        font-size: x-large;

    }
}

#tituloContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 0px;
    background-color: #88daf2; 
    overflow: hidden; 
    width: 300px;
    border-radius:50px;
    height: 50px;
    color: var.$texto-blanco;
    border: solid 3px #30408d;
    img{
        height: 50px;
    }
    h1{
        font-family: 'Gill Sans';
        font-size: 2.5rem;
        -webkit-text-stroke: 1.5px #30707a;
    }
}
#footerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 25px;
    padding-left: 10px;
    background-color: #4b5056; 
    overflow: hidden; 
    width: 97%;
    height: 30px;
    color: var.$texto-blanco;
    overflow: hidden;
    h2{
        -webkit-text-stroke: 0.5px #5f6d81;
        font-size: xx-small;
    }
    h3{
        -webkit-text-stroke: 1px #5f6d81;
    }
    img{
        height: 40px;
    }
    
}