
<header>
  <div id="tituloContainer">
     <img src="./assets/img/pokeball.PNG" alt="pokeball">
     <h1>Pokédex</h1>
     <img src="./assets/img/pokeball.PNG" alt="pokeball">
  </div>
  <a href="https://app.netlify.com/teams/ysanddog/overview" target="_blank">Ver más proyectos</a>
</header>
<router-outlet></router-outlet>
<footer>
<div id="footerContainer">
  <h2>¡Inspirated by: N. Moreno! </h2>
  <img src="../assets/img/Bean Eater-1s-200px.svg" alt="">
  <h3>Created by: Diego Aragones!</h3>
</div>
</footer>